.GameOver {
  position: fixed;  
  width: 100vw;
  height: 100vh;
  background-color: #000000; /* 검정색 */
  color: #ffffff; /* 글자 색상 */
  font-family: 'MapoAgape', sans-serif;
  font-size: 3vw;
  text-align: center; /* 텍스트 정렬 */
  padding: 37vh; /* 내부 여백 */
}

.RestartButton {
  background-color: #ff6347; /* 버튼 배경색 (토마토색) */
  color: white; 
  border: none; 
  border-radius: 1vw; 
  padding: 2vh 2vw; 
  font-size: 1.5vw; 
  font-family: 'MapoAgape', sans-serif;
  cursor: pointer; 
  transition: background-color 0.3s ease; 
  position: fixed;
  top: 10vh;
  left: 5vw;
}

.RestartButton:hover {
  background-color: #e5533d; 
}

.RestartButton:active {
  background-color: #c74a32; 
}
