@font-face {
  font-family: 'MapoAgape';
  src: url('../fonts/MapoAgape.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.Stage2 {
  position: relative;
  width: 100vw;
  height: 100vh;
}
.BackGround {
  position: fixed;
  width: 100%;
  height: 87%;
  background-color: #fee7d7;
}
.Stage2Floor {
  position: fixed;
  background-color: #846b66;
  width: 100%;
  top: 87%;
  height: 13%;
}

.Box img,
.Door img,
.ContainMapBook img {
  width: 100%;
  height: 100%;
}

.Box {
  position: absolute;
  top: 63%;
  left: 4%;
  width: 27%;
  height: auto;
  color: transparent;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.BoxOpen {
  position: absolute;
  top: 63%;
  left: 3.2%;
  width: 27.5%;
  height: auto;
  color: transparent;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.Door {
  position: absolute;
  top: 31.1%;
  left: 35%;
  width: 23%;
  height: auto;
  background: none;
  border: none;
  display: block;
  cursor: pointer;
}

.Stage2Modal {
  width: 100%;
  height: 100%;
  text-align: center;
}

.BookShelf {
  position: absolute;
  top: 15%;
  left: 60%;
  width: 25%;
}

.ContainMapBook {
  position: absolute;
  top: 17.4%;
  left: 67.75%;
  width: 2.73%;
  height: 14.5%;
  background-color: transparent;
  border: none;
  z-index: 0;
  cursor: pointer;
}

.PlaceAnswer {
  text-align: center;
  border: none;
  background-color: transparent;
  font-family: 'MapoAgape', sans-serif;
  font-size: 20px;
  padding: 1vh;
}
.PlaceAnswer:focus {
  outline: none;
  border-color: #ccc;
}
h1 {
  font-family: 'MapoAgape', sans-serif;
  padding-top: 2vh;
}
