@font-face {
  font-family: 'MapoAgape';
  src: url('../fonts/MapoAgape.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.Stage2 {
  position: relative;
  width: 100vw;
  height: 100vh;
}
.BackGround {
  position: fixed;
  width: 100vw;
  height: 87vh;
  background-color: #fee7d7;
}
.Stage2Floor {
  position: fixed;
  background-color: #846b66;
  width: 100vw;
  top: 87vh;
  height: 13vh;
}

.Lamp {
  position: fixed;
  top: 10vh;
  width: 15vh;
  left: 13vw;
}
.Box img,
.BoxOpen img,
.Door img,
.DoorOpen img,
.CodeNote img,
.ContainMapBook img {
  width: 100%;
  height: 100%;
}
.CodeNote {
  position: fixed;
  border: none;
  background: transparent;
  position: fixed;
  top: 66.35vh;
  left: 6vw;
  width: 6.5vw;
  z-index: 1;
}

.Box {
  position: fixed;
  top: 63vh;
  left: 4vw;
  width: 27vw;
  height: auto;
  color: transparent;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.BoxButton {
  position: fixed;
  top: 63vh;
  left: 4vw;
  width: 15vw;
  height: 16vh;
  color: transparent;
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
}

.BoxOpen {
  position: fixed;
  top: 62.95vh;
  left: 3vw;
  width: 28vw;
  height: auto;
  color: transparent;
  outline: none;
  border: none;
  background-color: transparent;
}
.BoxOpenButton {
  position: fixed;
  top: 63vh;
  left: 3vw;
  width: 16vw;
  height: 17.5vh;
  color: transparent;
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
}

.Door {
  position: fixed;
  top: 31.1vh;
  left: 35vw;
  width: 23vw;
  height: auto;
  background: none;
  border: none;
  display: block;
  cursor: pointer;
}

.DoorOpen {
  position: fixed;
  top: 29vh;
  left: 35vw;
  width: 24vw;
  height: auto;
  background: none;
  border: none;
  display: block;
  cursor: pointer;
}

.Stage2Modal {
  width: 100%;
  height: 100%;
  text-align: center;
}

.BookShelf {
  position: fixed;
  top: 15vh;
  left: 60vw;
  width: 25vw;
}

.ContainMapBook {
  position: fixed;
  top: 17.4vh;
  left: 67.75vw;
  width: 2.73vw;
  height: 17vh;
  background-color: transparent;
  border: none;
  z-index: 0;
  cursor: pointer;
}

.PlaceAnswer {
  text-align: center;
  border: none;
  background-color: transparent;
  font-family: 'MapoAgape', sans-serif;
  font-size: 27px;
  padding: 1vh;
}
.PlaceAnswer:focus {
  outline: none;
  border-color: #ccc;
}
h1 {
  font-family: 'MapoAgape', sans-serif;
  padding-top: 2vh;
}
