.Stage2Box {
  top: 0px;
  width: 200px;
  height: 250px;
}

.Stage2Box button {
  width: 200px;
  height: 250px;
  background: none;
  border: none;
  padding-top: 350px;
  padding-left: 50px;
}

.Stage2Box img {
  top: 0px;
  width: 200px;
  height: 250px;
}

.background {
  background-color: #c1a693;
}

.Stage2Door {
  padding-top: 300px;
  padding-left: 500px;
  grid-area: f;
  width: 150px;
  height: 200px;
}

.Stage2Door img {
  width: 100%;
}

.Stage2Door button {
  width: 200px;
  height: auto;
  padding: 0;
  background: none;
  border: none;
  display: block;
}
