.Stage1Bg {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #fee7d7;
}

.Stage1ObjectBg {
  background-color: rgba(0, 0, 0, 0.5);
  position: inherit;
  z-index: 1003;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Stage1MusicImg {
  position: relative;
  width: 70%;
  z-index: 1004;
}

.Stage1DoorImg {
  position: fixed;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.Stage1DoorClose {
  height: 64%;
  top: 55%;
  left: 60%;
  transition: transform 0.3s ease;
}

.Stage1DoorClose:active {
  transform: translate(-50%, -50%) scale(1.05);
}

.Stage1DoorOpen {
  top: 58%;
  left: 60%;
  height: 70%;
}

.Stage1Floor {
  position: fixed;
  bottom: 0;
  background-color: #846b66;
  width: 100%;
  height: 13%;
}

.Stage1Table {
  position: fixed;
  top: 62%;
  left: 30%;
  height: 35%;
}

.Stage1Music {
  position: fixed;
  top: 35%;
  left: 22%;
  height: 18%;
  cursor: pointer;
}

.Stage1Drawer {
  cursor: pointer;
  position: fixed;
}

.Stage1DrawerClose {
  top: 73.3%;
  left: 5%;
  height: 20%;
}

.Stage1DrawerOpen {
  top: 72.5%;
  left: 1.8%;
  height: 23%;
}

.hidden {
  display: none;
}

.Stage1Item {
  width: 7%;
  height: fit-content;
  top: 72.5%;
  left: 5%;
}

.Stage1Puzzle {
  position: fixed;
  width: 7%;
  height: fit-content;
  top: 62%;
  left: 33%;
}
