.Stage3Page {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.Stage3Bg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: #fee7d7;
}

.Stage3Floor {
  position: fixed;
  bottom: 0;
  background-color: #846b66;
  width: 100vw;
  height: 13vh;
}

.DoorClose {
  cursor: pointer;
  position: fixed;
  top: 26.7vw;
  left: 18vw;
  transform: translate(-50%, -50%);
  width: 25vw;
  height: auto; /* 높이를 비율에 맞게 자동 설정 */
  z-index: 1;
}

.DoorOpen {
  cursor: pointer;
  position: fixed;
  top: 28vw;
  left: 18vw;
  transform: translate(-50%, -50%);
  width: 25vw;
  height: auto; /* 높이를 비율에 맞게 자동 설정 */
  z-index: 1;
}

.Stage3wall {
  width: 45vw;
  position: fixed;
  top: 10vw;
  left: 58vw;
  cursor: pointer;
  transform: translateX(-50%);
}

.ModalMent {
  font-family: 'MapoAgape', sans-serif;
  font-size: 1.5vw;
  position: relative;
  padding: 2vw;
  top: 0vw;
  left: 23.5vw;
}

.NumberGuessModalMent {
  font-size: 2vw;
  position: relative;
  padding: 2vw;
  top: 0vw;
  left: 20vw;
}

.SetScore{
  position: fixed;
  top: 30vh;
  left: 24vw;
  width: 100vh;
  height: 37vw;
}

.ImageGrid { /* 모달 속 전체 친일파사진 위치  */
  position: fixed;
  top: 23vh;
  left: 32.5vw;
}

.CenterContainer { /* 모달 속 친일파 사진 그리드 설정 */
  grid-area: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1vw;
  padding: 2vw;
  background-color: transparent;
  border: 0.1vw solid transparent;
}

.ImageItem { /* 친일파사진(각각) */
  width: 7vw;
  height: 14vh;
  object-fit: cover;
  cursor: pointer;
  border: 0.2vw solid transparent;
  transition: border 0.3s ease;
}

.Selected {
  border: 0.4vw solid rgb(255, 0, 0);
}

.CheckAnswerButton {
  margin-top: 2vw;
}

.ResultBanner {
  position: fixed;
  top: 9vw;
  left: 50vw;
  transform: translateX(-50%);
  background-color: #C1A693;
  color: white;
  font: Noto Sans KR;
  font-size: 1.5vw;
  font-weight: bold;
  z-index: 100;
  border-radius: 1vw;
  text-align: center;
  width: 30vw;
  height: 9vh;
  box-shadow: 0 0.4vw 0.8vw rgba(0, 0, 0, 0.2);
  transition: border 0.3s ease;
}

.KoreaFlag { 
  cursor: pointer;
  width: 6.4vw;
  height: 8.4vh;
  position: fixed;
  top: 11.3vw;
  left: 61.4vw;
}

.NoteImage {
  cursor: pointer;
  width: 3vw;
  height: auto;
  position: fixed;
  top: 9.5vw;
  left: 63vw;
}

.GunHintImage {
  position: fixed;
  top: 27vw;
  left: 53vw;
  transform: translate(-50%, -50%);
  width: 40vw;
  height: auto;
}