.Stage2 {
  position: relative;
  width: 100vw;
  height: 100vh;
}
.BackGround {
  position: fixed;
  width: 100%;
  height: 87%;
  background-color: #fee7d7;
}
.Stage2Floor {
  position: fixed;
  background-color: #846b66;
  width: 100%;
  top: 87%;
  height: 13%;
}
.Box {
  position: absolute;
  top: 65%;
  left: 8%;
  width: 13%;
  height: auto;
  color: transparent;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.Box img {
  width: 100%;
  height: 100%;
}

.Door {
  position: absolute;
  top: 50%;
  left: 40%;
  width: 15%;
  height: auto;
  background: none;
  border: none;
  display: block;
  cursor: pointer;
}

.Door img {
  width: 100%;
  height: 100%;
}

.Stage2Modal {
  width: 100%;
  height: 100%;
  text-align: center;
}

.BookShelf {
  position: absolute;
  top: 15%;
  left: 65%;
  width: 30%;
}

.BookButton {
  position: absolute;
  top: 19%;
  left: 84.4%;
  width: 2.7%;
  height: 12.5%;
  background-color: transparent;
  border: none;
  z-index: 1;
  cursor: pointer;
}

.PlaceAnswer {
  border: none;
}
