.BackGround {
  background-color: black;
  width: 100%;
  height: 100vh;
  position: relative;
}

.Logo {
  width: 800px;
  position: absolute;
  transform: translate(-50%, -50%); /* 이미지의 중심을 기준으로 위쪽 및 좌우로 이동 */
  top: 40%;
  left: 50%;
}

.Button {
  position: absolute;
  transform: translate(-50%, -50%); /* 이미지의 중심을 기준으로 위쪽 및 좌우로 이동 */
  top: 70%;
  left: 50%;
}

