@font-face {
  font-family: 'MapoGoldenPier';
  src: url('https://gcore.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoGoldenPierA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.BackGround {
  background-color: black;
  width: 100%;
  height: 100vh;
}

.Logo {
  width: 500px;
  position: fixed;
  transform: translate(-50%, -50%); /* 이미지의 중심을 기준으로 위쪽 및 좌우로 이동 */
  top: 42%;
  left: 50%;
}

.Button {
  cursor: pointer;
  position: fixed;
  transform: translate(-50%, -50%); /* 이미지의 중심을 기준으로 위쪽 및 좌우로 이동 */
  top: 67%;
  left: 50%;
  font-family: 'MapoGoldenPier';
  font-size: 48px;
  color: #fff;
  width: 17%;
  height: 80px;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.Button:hover {
  transform: scale(1.1);
}
