@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.BackGround {
  z-index: 50;
  position: fixed;
  position: relative;
  width: 100%;
  height: 100%;
  perspective: 1000px;
}

.RightBookWrapper {
  position: absolute;
  top: 17vh;
  width: 52vh;
  transform-style: preserve-3d;
  transition: transform 1s ease-in-out;
  left: 103vh;
  transform-origin: left center;
}

.LeftBookWrapper {
  position: absolute;
  top: 17.3vh;
  width: 53.5vh;
  transform-style: preserve-3d;
  transition: transform 1s ease-in-out;
  left: 49.5vh;
  transform-origin: right center;
}

.RightBookWrapper1 {
  position: absolute;
  top: 17vh;
  width: 52vh;
  transform-style: preserve-3d;
  transition: transform 1s ease-in-out;
  left: 103vh;
  transform-origin: left center;
}

.LeftBookWrapper1 {
  position: absolute;
  top: 17vh;
  width: 53vh;
  transform-style: preserve-3d;
  transition: transform 1s ease-in-out;
  left: 50vh;
  transform-origin: right center;
}

.Page {
  width: 100%;
  height: 100%;
}

.PreviousFlipped {
  transform: rotateY(-180deg);
}

.NextFlipped {
  transform: rotateY(+180deg);
}

.Book {
  width: 100%;
}

.PreviousButton {
  top: 17vh;
  width: 52.5vh;
  height: 60vh;
  left: 52.5vh;
  position: absolute;
  background: transparent;
  border: none;
  cursor: pointer;
}

.NextButton {
  top: 17vh;
  width: 52.5vh;
  height: 60vh;
  left: 101.5vh;
  position: absolute;
  background: transparent;
  border: none;
  cursor: pointer;
}

.Map {
  position: absolute;
  top: 40%;
  left: 45%;
  width: 17%;
  background: transparent;
  border: none;
  cursor: pointer;
  animation: fadeIn 0.5s ease-in;
}

.Map img {
  width: 100%;
  height: 100%;
}
