@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.BackGround {
  position: relative;
  width: 100%;
  height: 100%;
  perspective: 1000px;
}

.RightBookWrapper {
  position: absolute;
  top: 25vh;
  width: 25vw;
  transform-style: preserve-3d;
  transition: transform 1s ease-in-out;
  left: 49vw;
  transform-origin: left center;
}

.LeftBookWrapper {
  position: absolute;
  top: 25vh;
  width: 25vw;
  transform-style: preserve-3d;
  transition: transform 1s ease-in-out;
  left: 24vw;
  transform-origin: right center;
}

.Page {
  width: 100%;
  height: 100%;
}

.PreviousFlipped {
  transform: rotateY(-180deg);
}

.NextFlipped {
  transform: rotateY(+180deg);
}

.Book {
  width: 100%;
}

.PreviousButton {
  width: 3%;
  height: 8%;
  position: absolute;
  top: 73%;
  background: transparent;
  left: 31%;
  border: none;
  cursor: pointer;
}

.NextButton {
  width: 3%;
  height: 8%;
  position: absolute;
  top: 73%;
  background: transparent;
  left: 63%;
  border: none;
  cursor: pointer;
}

.Map {
  position: absolute;
  top: 45%;
  left: 45%;
  width: 10%;
  background: transparent;
  border: none;
  cursor: pointer;
  animation: fadeIn 1s ease-in;
}

.Map img {
  width: 100%;
  height: 100%;
}
