@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

.CheckNumberBg {
  position: absolute;
  left: 3%;
  width: 94%;
  height: 62%;
}

.back {
  display: flex;
  flex-direction: row;
  margin: 0 18%;
}

.Back {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.UpButton,
.DownButton {
  width: 8vh;
  height: 6vh;
  z-index: 1;
  border: none;
  background-color: transparent;
  margin-right: 12vh;
  margin-left: 7vh;
}
.UpButton {
  margin-top: 5vh;
}
.DownButton {
  margin-top: 2vh;
}

.number {
  margin-top: 1vh;
  margin-left: 7vh;
  margin-right: 12vh;
  font-family: 'Noto Sans KR', sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 80px;
  color: rgba(71, 33, 33, 1);
}

.UpButton img,
.DownButton img {
  width: 100%;
  height: 100%;
}
