.back {
  display: flex;
  flex-direction: row;
}

.Back {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.buttonBack {
  width: 60%;
  z-index: 0;
  position: absolute;
  top: 5%;
}

.UpButton,
.DownButton,
.number {
  margin-top: 7%;
  width: 25%;
  height: 25%;
  z-index: 1;
}

.number {
  font-size: xx-large;
}

.UpButton img,
.DownButton img {
  width: 100%;
  height: 100%;
}
