.InventoryBox {
  position: fixed;
  right: 0;
  width: 280px;
  height: 100vh;
  background-color: #ddc2af;
  z-index: 1001;
}

.InventoryItemBox {
  width: 100px;
  height: 100px;
  background-color: #c1a693;
  border-radius: 8px;
}

.InventoryItem {
  cursor: pointer;
}
