.ModalContainer {
  background-color: rgba(0, 0, 0, 0.5); /* 모달창 띄울 시 뒷배경 어두운 효과 */
  z-index: 999;
  height: 100%;
  width: 100%;
  position: fixed; /* 브라우저 뷰포트를 기준으로 고정 */
  top: 0;
  left: 0;
  display: flex;
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
}

.ModalContent {
  position: relative;
  background-image: url(../Dokdo_Private/ModalBg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.CloseButton {
  cursor: pointer;
  position: absolute;
  z-index: 1000;
  top: -1.5%;
  right: -1.5%;
  width: 50px;
  transition: transform 0.3s ease;
}

.CloseButton:hover {
  transform: scale(1.1);
}

.ModalContent.small {
  width: 500px; /* 작은 모달 */
  height: 300px;
}

.ModalContent.medium {
  width: 1000px; /* 중간 모달 */
  height: 600px;
}

.ModalContent.large {
  width: 1300px; /* 큰 모달 */
  height: 900px;
}
