@keyframes fadein {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

.ToolBarBackground {
  position: fixed;
  top: 0;
  background-color: #c1a693;
  height: fit-content;
  width: 100vw;
  padding: 1.5vh 1vw;
  padding-bottom: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  gap: 0.78vw;
}

.ToolBarBtn {
  cursor: pointer;
  font-family: 'Noto Sans';
  font-size: 1.56vw;
  font-weight: 500;
  padding: 1.25vh 1.25vw 0.83vh;
  text-decoration: none;
  color: #fff;
  border: none;
  background-color: transparent;
}

.ToolBarfalse {
  color: grey;
  filter: grayscale(100%);
}

.ToolBartrue:hover {
  transform: scale(1.04);
}

.ToolBarUnselected {
  background-image: url('../Dokdo_Private/ToolBar1.png');
  background-size: 100% 100%;
}

.ToolBarSelected {
  background-image: url('../Dokdo_Private/ToolBar2.png');
  background-size: 100% 100%;
}
