@keyframes fadein {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

.Grid {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 7fr 4fr;
  grid-template-rows: 1fr 10fr 1fr 90fr;
  grid-template-areas:
    'h h h h e'
    'a b c d e'
    'g g g g e'
    'f f f f e';
  height: 100vh;
  width: 100vw;
  background-color: #c1a693;
}

.background {
  background-color: #c1a693;
}

.ToolBar {
  background-color: #ddc2af;
  border-radius: 15px;
  font-display: center;
  text-align: center;
  font-size: large;
  border-right: 5px solid #a98974;
  border-top: 3px solid #a98974;
  color: #000000;
  font-weight: bold;
  padding: 20px;
  text-decoration: none;
}
.ToolBar:hover {
  animation: fadein 1.5s;
}

.Inventory {
  background-color: #ddc2af;
  grid-area: e;
}
